<div class="footer-inner mc pr">
	<a href="http://www.genomics.cn/en/index.action" class="logo-copy inblo fl ml15 mt10"><img src="logo_mini.png" /></a>
	<div class="copy-map fl ml15 mt5 pl15 f12">
		<p class="fb">2012 Copyright BGI All Rights Reserved</p>
		<ul class="copy-map-m">
			<li class="fl"><a  class="textLink" 
				title="" href="navigation/show_navigation?nid=5603 ">Contact Us</a></li>

			<li class="fl"><a  class="textLink" 
				title="" href="navigation/show_navigation?nid=5627">Investors Relationship </a></li>

			<li class="fl"><a  class="textLink" 
				title="" href="navigation/show_navigation?nid=1363">Site map</a></li>
		</ul>
	</div>
	<div class="fr footer-br f12 mt5">
		<p class="fb">粤ICP备 10059378</p>
	</div>
</div>
