<h1>Contact</h1>
<h2 class="f14 fb pin">Location</h2>
<h4 class="pl10">BGI-Shenzhen, Beishan Industrial Zone, Yantian District, Shenzhen, 518083, China</h4>
<ul class="pl10">
    <li>Tel: 400-706-6615<span class="pl20">+86-755-25273620</span></li>
    <li>Email: tech@genomics.cn</li>
    <li><a href="http://www.genomics.cn">www.genomics.cn</a></li>
</ul>

<h2>Author</h2>
Emaill: QuNengrong#genomics.cn
