<h1>PDC Help Center</h1>
<br/>
<h3>Basic Use Guide</h3>
<li>You may explore all data use Explore</li>
<li>You may search for protein or gene of your interest.</li>

<br/>

<h3>Navigation links</h3>
<p>While exploring data:</p>
<li>The links for transcription ids are out site links ,redirect you to the ensembl record.</li>
<li>The links for gene ids and protein ids are linking to local database.</li>
<br/>
<p>While showing local results</p>
<li>if shows protein result, then the link of the protein id is a out site link</li>
<li>if shows gene result, then the link of the gene id is a out site link</li>
