<h1>Welcome to PDC</h1>
<br/>
<p>PDC stands for <strong>Proteomics Data Center</strong>, it's maintained under BGI, and it's mission it to support high-throughput analysis of proteomics data and to give a overall view to scientist about the data of some spaces ,eg Human.</p>
<br/>
<p>The websit is currently under development , and for more information ,please visit our websit: <a href="http://www.genomics.cn/en/index">BGI</a></p>
