<h1>Welcome to PDC</h1>
<br/>
<p>PDC stands for <strong>Proteomics Data Center</strong>, it's maintained under BGI, and it's mission it to support high-throughput analysis of proteomics data and to give a overall view to scientist about the data of some spaces ,eg Human.</p>
<br/>
<p>The websit is currently under development , and for more information ,please visit our websit: <a href="http://www.genomics.cn/en/index">BGI</a></p>

<br/>
<h1>Identified Genes</h1>
<center>
<% circos=image_tag("identified_gene_circos.png", :alt => "identified_gene_circos.png", :class => "round", :title =>"identified_gene_circos", :height => '800', :width => '800') %>
<%= link_to circos, "/assets/identified_gene_circos.png" %>
</center>
