<table id="lcontent">
  <tr>
    <th>Project Id:</th>
    <td><%= @project.id %></td>
  </tr>

  <tr>
    <th>Project Title:</th>
    <td><%= @project.title %></td>
  </tr>

  <tr>
    <th>Project Detail:</th>
    <td><%= @project.detail %></td>
  </tr>

  <tr>
    <th>Submit Date:</th>
    <td><%= @project.date %></td>
  </tr>
</table>

