<h1>Data Summary</h1>
<%= render :partial =>"exp_data_summaries/table"%>
<br/>
<hr/>

<h1>Analysis Paramaters</h1>
<%= render :partial =>"exp_paramaters/table"%>
<br/>
<hr/>

<h1>Project information</h1>
<%= render "table"%>

<%= link_to 'Back', projects_path %>
