#dcontent th, #dcontent td{
  text-align:center;
  border:1px solid #98bf21;
  padding:5px;
}
#lcontent th, #lcontent td{
  text-align:left;
  border:1px solid #98bf21;
  padding:5px;
}

.td{
  white-space:nowrap;overflow:scroll;
  width:200px;
  text-align:left;
}

table{
  border-collapse:collapse;
}

#pro_summary
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  table-layout:fixed;
  border-collapse:collapse;
}

#pro_summary td, #pro_summary th 
{
  font-size:1em;
  text-align:center;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
}

#pro_summary th 
{
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#4F94CD;
  color:#ffffff;
}

#pro_summary tr.alt td 
{
  color:#000000;
  background-color:#EAF2D3;
}
